<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mastermind</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Mastermind game!</h1>
    <main id="app">
      <div id="mastermind">
        <p id="ai-code" :class="{'result-row': true, 'hide': !gameOver}">
          <span v-for="(colorIndex, index) of solution" :key="index">
            {{colorArray[colorIndex]}}
          </span>
        </p>
        <h2 id="message">{{message}}</h2>

        <div id="history-container">
          <div
            v-for="(historyItem, index) in history"
            :key="index"
            class="history-item"
          >
            <p class="result-row">
              <span
                v-for="(colorIndex, index) of historyItem.guess"
                :key="index"
              >
                {{colorArray[colorIndex]}}
              </span>
            </p>
            <p>{{historyItem.correctNumberAndPlace}} kleuren juist</p>
            <p>
              {{historyItem.correctNumber}} kleuren juist maar op de foute
              plaats
            </p>
          </div>
        </div>
      </div>

      <div id="game-btn-container" :class="{'do-not-show': gameOver}">
        <h3>Give a code.</h3>
        <p id="guess-input" class="result-row">
          <span v-for="(colorIndex, index) of currentGuess" :key="index">
            {{colorArray[colorIndex]}}
          </span>
        </p>
        <div class="btn-container" id="btn-container">
          <button
            v-for="(color, index) in colorArray"
            :key="color"
            class="select-btn"
            @click="chooseColor(index)"
          >
            {{color}}
          </button>
        </div>
        <div class="btn-container">
          <button @click="undoColor" class="select-btn" id="undo-btn">
            Undo
          </button>
          <button @click="submit" class="select-btn" id="submit-btn">
            Submit
          </button>
        </div>
      </div>
      <div id="restart-btn-container" :class="{'do-not-show': !gameOver}">
        <button @click="resetState" class="select-btn" id="restart">
          New Game
        </button>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
